*{
  box-sizing: border-box;
}

body {
  padding: 0 80px;

  @media(max-width:$tablet-landscape) {
    padding: 0 40px;
  }

  @media(max-width:$mobile-landscape) {
    padding: 0;
  }

  &.home {
    padding: 0;
  }
}

.main {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

.wrap.container {
  width: 100%;
  margin:0;
  padding: 0;
}
