@import 'variables.scss';

body.home.page {
  overflow: hidden;

  #app {
    position:relative;
  }

  .wrap.container {
    width: 100%;
    padding:0;
    margin:0;
  }

  .polyfield {
    display:none;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  .home-mobile {
    display:none;
    max-width:580px;
    width:80%;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -68%);

    .logo {
      opacity: 0;
    }

    .the, .social {
      font-size: 38px;
      letter-spacing: 24px;
      text-align: center;
      margin-bottom: -70px;
      opacity: 0.8;
    }

    .the {
      opacity: 0;
      @media(max-width:580px) {
        font-size: 28px;
        letter-spacing: 14px;
        margin-bottom: -30px;
        margin-left: 30px;
      }
    }

    .social {
      margin-top: 40px;
      margin-bottom:0;
      color: white;
      font-size:45px;
      letter-spacing: 0;


      &.icon-mail {
        font-size: 48px;
      }

      a {
        transform: scaleY(0);
        opacity: 0;
        display: inline-block;
        margin: 0 20px;
      }

      @media(max-width:500px) {
        font-size:30px;
      }
    }
  }

  .menu {
    position:fixed;
    z-index:10;
    font-size: 30px;
    // opacity: 0.7;
    font-family: 'Raleway';
    font-weight: 400;
    top: 78%;
    width: 100%;
    text-align: center;
    padding-right:12px;

    a {
      margin: 0 20px;
      color: white;
      text-decoration: none;
      opacity: 0;
      display: inline-block;
      transition: color 350ms 0ms ease-in-out;

      &:hover {
        color: rgb(148, 133, 191);
      }
    }

    @media(max-width:500px) {
      font-size:20px;
      a { margin: 0 10px; }
    }

    @media(max-width:420px) {
      font-size:16px;
    }
  }
}
