@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin v-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin h-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

