// Main Stylesheet
@import 'mixins';
@import 'variables';
@import 'typography';

@import 'base';
@import 'nav';
@import 'footer';

@import 'headings';

// Pages
@import 'about';
@import 'games';

* {
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: auto !important;
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.test {
  display: block;
  height: 200px;
  width: 200px;
  background: white;
}

a {
  color: white;
}
